<div class="flex h-full">
    <div class="w-72 p-5 border-r border-gray-300">
        <header class="toggler">
            <h1 class="font-thin w-full text-lg text-left">Turbo Task</h1>
            <!-- <fa-icon [icon]="faLinkedin"></fa-icon> -->
         
        </header>
        <div class="links pt-8">
            <ul class="gap-y-4">
                <li><button class=" hover:bg-gray-50 py-2 px-4 w-full text-left text-gray-400 hover:text-black hover:font-medium">Home</button></li>
                <li><button class=" hover:bg-gray-50 py-2 px-4 w-full text-left text-gray-400 hover:text-black hover:font-medium ">My Task</button></li>
                <li><button class=" hover:bg-gray-50 py-2 px-4 w-full text-left text-gray-400 hover:text-black hover:font-medium">Inbox</button></li>
                <li><button class=" hover:bg-gray-50 py-2 px-4 w-full text-left text-gray-400 hover:text-black hover:font-medium ">Portfolio</button></li>
                <li><button class=" hover:bg-gray-50 py-2 px-4 w-full text-left text-gray-400 hover:text-black hover:font-medium ">Goals</button></li>
                <li><button class=" hover:bg-gray-50 py-2 px-4 w-full text-left text-gray-400 hover:text-black hover:font-medium ">Goals</button></li>
                <li><button class=" hover:bg-gray-50 py-2 px-4 w-full text-left text-gray-400 hover:text-black hover:font-medium ">Goals</button></li>
            </ul>
        </div>
    </div>
    <div class="p-5 w-screen">
        <router-outlet></router-outlet>
    </div>
</div>